.filter-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;

  &__price {
    padding: 20px;
  }
  &__search {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  &__select {
    padding: 20px;
  }
}
