.home {
    &__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        margin: 60px;
        padding: 30px;
        font-size: 60px;
        background-color: yellow;
        border-radius: 40px;
        border: 2px solid red;
    }

    &__link {
        font-size: 60px;
        text-transform: uppercase;
        color: red;
        text-decoration: none;
    }

    &__h2 {
        font-size: 50px;
        text-transform: uppercase;
        color: red;
        margin: 30px;
    }
}